.root-row {
  display: grid;
  grid-template-areas: "f1 f2 f2 f3 f3 f4 f5";
  height: 8vh;
  width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    align-items: center;
}
.f1 {
  grid-area: f1;
  border-right: 1px solid rgb(179, 178, 178);
}

.f2 {
  grid-area: f2;
  border-right: 1px solid rgb(179, 178, 178);
}

.f3 {
  grid-area: f3;
  border-right: 1px solid rgb(179, 178, 178);
}

.f4 {
  grid-area: f4;
  border-right: 1px solid rgb(179, 178, 178);
}
.f5 {
  grid-area: f5;
}
